.title1{
    color: rgb(20, 85, 170);
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.title2{
    color: rgb(48, 170, 20);
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.title3{
    color: rgb(215, 119, 9);
    width: 50%;
    padding: 10px;
    margin: 10px;
}